<a href="https://colab.research.google.com/github/adapaania/PrepInsta-Data-Analysis-Internship/blob/main/Week%203/Week%203%20-%20Task%202(Aania).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [2]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [3]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [4]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [5]:
x= data.columns
x

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [6]:
avg_age = data['Age'].mean()
data['Age']= data['Age'].fillna(avg_age)

#descriptive analysis
data['Age']

0     44.000000
1     66.000000
2     39.045455
3     64.000000
4     25.000000
5     44.000000
6     21.000000
7     44.000000
8     35.000000
9     22.000000
10    55.000000
11    44.000000
12    39.045455
13    25.000000
14    66.000000
15    44.000000
16    19.000000
17    39.045455
18    35.000000
19    32.000000
20    39.045455
21    35.000000
22    19.000000
23    39.045455
24    13.000000
25    55.000000
26    39.045455
27    52.000000
28    39.045455
Name: Age, dtype: float64

In [7]:
data['Salary']=data['Salary'].apply((lambda x: x.replace('$',"")))
data['Salary']

0      44k-99k
1      55k-66k
2      77k-89k
3      44k-99k
4      44k-99k
5      77k-89k
6      44k-99k
7      44k-99k
8      44k-99k
9      44k-99k
10     10k-49k
11     10k-49k
12     44k-99k
13     44k-99k
14     44k-99k
15    88k-101k
16     19k-40k
17     44k-99k
18     44k-99k
19     44k-99k
20     44k-99k
21     44k-99k
22     55k-66k
23     44k-99k
24     44k-99k
25     44k-99k
26     55k-66k
27     44k-99k
28     39k-88k
Name: Salary, dtype: object

In [8]:
data = data.drop(['Index'],axis=1)

In [9]:
data

          Age    Salary  Rating       Location  Established Easy Apply
0   44.000000   44k-99k     5.4       India,In         1999       TRUE
1   66.000000   55k-66k     3.5    New York,Ny         2002       TRUE
2   39.045455   77k-89k    -1.0    New York,Ny           -1         -1
3   64.000000   44k-99k     4.4       India In         1988         -1
4   25.000000   44k-99k     6.4  Australia Aus         2002         -1
5   44.000000   77k-89k     1.4       India,In         1999       TRUE
6   21.000000   44k-99k     0.0    New York,Ny           -1         -1
7   44.000000   44k-99k    -1.0  Australia Aus           -1         -1
8   35.000000   44k-99k     5.4    New York,Ny           -1         -1
9   22.000000   44k-99k     7.7       India,In           -1       TRUE
10  55.000000   10k-49k     5.4       India,In         2008       TRUE
11  44.000000   10k-49k     6.7       India,In         2009         -1
12  39.045455   44k-99k     0.0       India,In         1999         -1
13  25.000000   44k-99k    -1.0  Australia Aus         2019       TRUE
14  66.000000   44k-99k     4.0  Australia Aus         2020       TRUE
15  44.000000  88k-101k     3.0  Australia Aus         1999         -1
16  19.000000   19k-40k     4.5       India,In         1984         -1
17  39.045455   44k-99k     5.3    New York,Ny         1943       TRUE
18  35.000000   44k-99k     6.7    New York,Ny         1954       TRUE
19  32.000000   44k-99k     3.3    New York,Ny         1955       TRUE
20  39.045455   44k-99k     5.7    New York,Ny         1944       TRUE
21  35.000000   44k-99k     5.0    New York,Ny         1946         -1
22  19.000000   55k-66k     7.8    New York,Ny         1988       TRUE
23  39.045455   44k-99k     2.4    New York,Ny         1999       TRUE
24  13.000000   44k-99k    -1.0    New York,Ny         1987         -1
25  55.000000   44k-99k     0.0  Australia Aus         1980       TRUE
26  39.045455   55k-66k     NaN       India,In         1934       TRUE
27  52.000000   44k-99k     5.4       India,In         1935         -1
28  39.045455   39k-88k     3.4  Australia Aus         1932         -1

In [10]:
neg=data[data['Established']<0]
neg

         Age   Salary  Rating       Location  Established Easy Apply
2  39.045455  77k-89k    -1.0    New York,Ny           -1         -1
6  21.000000  44k-99k     0.0    New York,Ny           -1         -1
7  44.000000  44k-99k    -1.0  Australia Aus           -1         -1
8  35.000000  44k-99k     5.4    New York,Ny           -1         -1
9  22.000000  44k-99k     7.7       India,In           -1       TRUE

In [11]:
med = data['Established'].median()
med

1984.0

In [12]:
data.loc[data['Established']<0,'Established']=med
data

          Age    Salary  Rating       Location  Established Easy Apply
0   44.000000   44k-99k     5.4       India,In         1999       TRUE
1   66.000000   55k-66k     3.5    New York,Ny         2002       TRUE
2   39.045455   77k-89k    -1.0    New York,Ny         1984         -1
3   64.000000   44k-99k     4.4       India In         1988         -1
4   25.000000   44k-99k     6.4  Australia Aus         2002         -1
5   44.000000   77k-89k     1.4       India,In         1999       TRUE
6   21.000000   44k-99k     0.0    New York,Ny         1984         -1
7   44.000000   44k-99k    -1.0  Australia Aus         1984         -1
8   35.000000   44k-99k     5.4    New York,Ny         1984         -1
9   22.000000   44k-99k     7.7       India,In         1984       TRUE
10  55.000000   10k-49k     5.4       India,In         2008       TRUE
11  44.000000   10k-49k     6.7       India,In         2009         -1
12  39.045455   44k-99k     0.0       India,In         1999         -1
13  25.000000   44k-99k    -1.0  Australia Aus         2019       TRUE
14  66.000000   44k-99k     4.0  Australia Aus         2020       TRUE
15  44.000000  88k-101k     3.0  Australia Aus         1999         -1
16  19.000000   19k-40k     4.5       India,In         1984         -1
17  39.045455   44k-99k     5.3    New York,Ny         1943       TRUE
18  35.000000   44k-99k     6.7    New York,Ny         1954       TRUE
19  32.000000   44k-99k     3.3    New York,Ny         1955       TRUE
20  39.045455   44k-99k     5.7    New York,Ny         1944       TRUE
21  35.000000   44k-99k     5.0    New York,Ny         1946         -1
22  19.000000   55k-66k     7.8    New York,Ny         1988       TRUE
23  39.045455   44k-99k     2.4    New York,Ny         1999       TRUE
24  13.000000   44k-99k    -1.0    New York,Ny         1987         -1
25  55.000000   44k-99k     0.0  Australia Aus         1980       TRUE
26  39.045455   55k-66k     NaN       India,In         1934       TRUE
27  52.000000   44k-99k     5.4       India,In         1935         -1
28  39.045455   39k-88k     3.4  Australia Aus         1932         -1

In [13]:
data.loc[data['Easy Apply']=='TRUE','Easy Apply']=1

In [14]:
data['Easy Apply']=data['Easy Apply'].astype(int)
data.loc[data['Easy Apply']<0,'Easy Apply']=0

data

          Age    Salary  Rating       Location  Established  Easy Apply
0   44.000000   44k-99k     5.4       India,In         1999           1
1   66.000000   55k-66k     3.5    New York,Ny         2002           1
2   39.045455   77k-89k    -1.0    New York,Ny         1984           0
3   64.000000   44k-99k     4.4       India In         1988           0
4   25.000000   44k-99k     6.4  Australia Aus         2002           0
5   44.000000   77k-89k     1.4       India,In         1999           1
6   21.000000   44k-99k     0.0    New York,Ny         1984           0
7   44.000000   44k-99k    -1.0  Australia Aus         1984           0
8   35.000000   44k-99k     5.4    New York,Ny         1984           0
9   22.000000   44k-99k     7.7       India,In         1984           1
10  55.000000   10k-49k     5.4       India,In         2008           1
11  44.000000   10k-49k     6.7       India,In         2009           0
12  39.045455   44k-99k     0.0       India,In         1999           0
13  25.000000   44k-99k    -1.0  Australia Aus         2019           1
14  66.000000   44k-99k     4.0  Australia Aus         2020           1
15  44.000000  88k-101k     3.0  Australia Aus         1999           0
16  19.000000   19k-40k     4.5       India,In         1984           0
17  39.045455   44k-99k     5.3    New York,Ny         1943           1
18  35.000000   44k-99k     6.7    New York,Ny         1954           1
19  32.000000   44k-99k     3.3    New York,Ny         1955           1
20  39.045455   44k-99k     5.7    New York,Ny         1944           1
21  35.000000   44k-99k     5.0    New York,Ny         1946           0
22  19.000000   55k-66k     7.8    New York,Ny         1988           1
23  39.045455   44k-99k     2.4    New York,Ny         1999           1
24  13.000000   44k-99k    -1.0    New York,Ny         1987           0
25  55.000000   44k-99k     0.0  Australia Aus         1980           1
26  39.045455   55k-66k     NaN       India,In         1934           1
27  52.000000   44k-99k     5.4       India,In         1935           0
28  39.045455   39k-88k     3.4  Australia Aus         1932           0

In [15]:
avg_rating = data['Rating'].mean()
data['Rating']= data['Rating'].fillna(avg_rating)
data['Rating']

0     5.400000
1     3.500000
2    -1.000000
3     4.400000
4     6.400000
5     1.400000
6     0.000000
7    -1.000000
8     5.400000
9     7.700000
10    5.400000
11    6.700000
12    0.000000
13   -1.000000
14    4.000000
15    3.000000
16    4.500000
17    5.300000
18    6.700000
19    3.300000
20    5.700000
21    5.000000
22    7.800000
23    2.400000
24   -1.000000
25    0.000000
26    3.528571
27    5.400000
28    3.400000
Name: Rating, dtype: float64

In [16]:
data

          Age    Salary    Rating       Location  Established  Easy Apply
0   44.000000   44k-99k  5.400000       India,In         1999           1
1   66.000000   55k-66k  3.500000    New York,Ny         2002           1
2   39.045455   77k-89k -1.000000    New York,Ny         1984           0
3   64.000000   44k-99k  4.400000       India In         1988           0
4   25.000000   44k-99k  6.400000  Australia Aus         2002           0
5   44.000000   77k-89k  1.400000       India,In         1999           1
6   21.000000   44k-99k  0.000000    New York,Ny         1984           0
7   44.000000   44k-99k -1.000000  Australia Aus         1984           0
8   35.000000   44k-99k  5.400000    New York,Ny         1984           0
9   22.000000   44k-99k  7.700000       India,In         1984           1
10  55.000000   10k-49k  5.400000       India,In         2008           1
11  44.000000   10k-49k  6.700000       India,In         2009           0
12  39.045455   44k-99k  0.000000       India,In         1999           0
13  25.000000   44k-99k -1.000000  Australia Aus         2019           1
14  66.000000   44k-99k  4.000000  Australia Aus         2020           1
15  44.000000  88k-101k  3.000000  Australia Aus         1999           0
16  19.000000   19k-40k  4.500000       India,In         1984           0
17  39.045455   44k-99k  5.300000    New York,Ny         1943           1
18  35.000000   44k-99k  6.700000    New York,Ny         1954           1
19  32.000000   44k-99k  3.300000    New York,Ny         1955           1
20  39.045455   44k-99k  5.700000    New York,Ny         1944           1
21  35.000000   44k-99k  5.000000    New York,Ny         1946           0
22  19.000000   55k-66k  7.800000    New York,Ny         1988           1
23  39.045455   44k-99k  2.400000    New York,Ny         1999           1
24  13.000000   44k-99k -1.000000    New York,Ny         1987           0
25  55.000000   44k-99k  0.000000  Australia Aus         1980           1
26  39.045455   55k-66k  3.528571       India,In         1934           1
27  52.000000   44k-99k  5.400000       India,In         1935           0
28  39.045455   39k-88k  3.400000  Australia Aus         1932           0